users:
  - name: minni
    ssh_authorized_keys:
      - ${pub_key}
write_files:
  - path: /opt/secrets/.env
    content: |
      ${replace(indent(4, dotenv), "\n", "\\n")}
  - path: /opt/secrets/.hytkybot.env
    content: |
      ${replace(indent(4, hytkybot_dotenv), "\n", "\\n")}
