users:
  - name: minni
    ssh_authorized_keys:
      - ${pub_key}
write_files:
  - path: /opt/webapp/.env
    content: |
      ${indent(4, dotenv)}
  - path: /opt/webapp/.hytkybot.env
    content: |
      ${indent(4, hytkybot_dotenv)}
